@import 'src/assets/scss/variables';

.welcome {
  color: $color__accent;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.8),rgba(237,67,67,.7));
  height: 100vh;
  display: flex;
  padding: 4%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome h1 {
  text-transform: uppercase;
}

.welcome a {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: rgba(237,237,237,.2);
  opacity: .2;
  animation: circle-pulse 2s 0s ease-in infinite;
}

@keyframes circle-pulse {
  0% {
    box-shadow: 0 0 0 1rem rgba(255,255,255,.1), 0 0 0 2rem rgba(255,255,255,.15), 0 0 0 2.5rem rgba(255,255,255,.2);
  }
  25% {
    transform:scale(1,1);
    box-shadow: 0 0 0 1.12rem rgba(255,255,255,.1), 0 0 0 2.25rem rgba(255,255,255,.15), 0 0 0 3.5rem rgba(255,255,255,.2);
  }
  50% {
    box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1), 0 0 0 2.75rem rgba(255,255,255,.1), 0 0 0 4rem rgba(255,255,255,0);
  }
  75% {
    box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1), 0 0 0 3rem rgba(255,255,255,0), 0 0 0 5rem rgba(255,255,255,0);
  }
  100% {
    box-shadow: 0 0 0 2rem rgba(255,255,255,0), 0 0 0 3.75rem rgba(255,255,255,0), 0 0 0 6rem rgba(255,255,255,0);
  }
}