<div class="page">
  <div class="register">
    <h1>Register</h1>
    <form [formGroup]="registerForm" novalidate (submit)="registerColonist()">
      <input type="text" placeholder="Name" formControlName="name">
      <input type="number" placeholder="Age" formControlName="age">
      <select formControlName="job_id">
        <option value="">Select an Occupation</option>
        <option *ngFor="let job of jobs" value="{{ job.id }}">{{ job.name }}</option>
      </select>
      <button [disabled]="registerForm.status === 'INVALID'" type="submit">Register</button>
    </form>
    {{ registerForm.value | json }}
  </div>
</div>
