@import 'src/assets/scss/variables';

.encounters-box {
  display: grid;
  grid-template-rows: 100px auto 50px 100px;
  height: 90vh;
  width: 90%;

  header {
  text-align: center;
  padding: 1rem;
  border: 1px solid lightgrey;
  background-color: $color__accent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    h1 {
      padding-bottom: 0.3rem;
    }
  }
  ul {
    overflow-y: scroll;
    padding: 2rem;
    background-color: $color__accent;
    li {
      padding-top: 0.5rem;
    }
  }
  button {
    width: 100%;
    background: lightgray;
    color: black;
  }
  footer {
    width: 100%;
    button {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: $color__accent;
      background: $color__main;
      border: none;
      height: 100%;
      width: 100%;
      font-size: 2.2rem;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      cursor: pointer;
    }
  }
}

// Loader

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}