@import 'src/assets/scss/variables';

.encounters-box {
  display: grid;
  grid-template-rows: 100px auto 50px 100px;
  height: 90vh;
  width: 90%;

  header {
  text-align: center;
  padding: 1rem;
  border: 1px solid lightgrey;
  background-color: $color__accent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    h1 {
      padding-bottom: 0.3rem;
    }
  }
  ul {
    overflow-y: scroll;
    padding: 2rem;
    background-color: $color__accent;
    li:first-child {
      padding-top: 0;
    }
    li {
      padding-top: 0.5rem;
    }
    li:last-child {
      padding-bottom: 1rem;
    }
  }
  button {
    width: 100%;
    background: lightgray;
    color: black;
  }
  footer {
    width: 100%;
    button {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: $color__accent;
      background: $color__main;
      border: none;
      height: 100%;
      width: 100%;
      font-size: 2.2rem;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      cursor: pointer;
    }
  }
}