@import 'src/assets/scss/variables';

.encounters {
  display: grid;
  grid-template-rows: 100px auto 50px 100px;
  height: 100vh;

  header {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
    h1 {
      padding-bottom: 0.3rem;
    }
  }
  ul {
    overflow-y: scroll;
    padding: 2rem;
    li {
      padding-top: 0.5rem;
    }
  }
  button {
    width: 100%;
    background: lightgray;
    color: black;
  }
  footer {
    background: $color__accent;
    width: 100%;
    button {
      color: $color__accent;
      background: $color__main;
      border: none;
      height: 100%;
      width: 100%;
      font-size: 2.2rem;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      cursor: pointer;
    }
  }
}