<div class="page encounters">
  <div class="encounters-box">
    <header>
      <h1>Past Encounters</h1>
      <p>See an Alien? Report it! 1-800-SlimeStoppers.
    </header>
    <ul>
      <li *ngFor="let report of reports">
        <p>
          <span>{{ report.date }} - </span>
          {{ report.atype }}
        </p>
        <p>
          {{ report.action }}
        </p>
      </li>
    </ul>
    <button routerLink="/blog">Super Secret Blog</button>
    <footer>
      <button routerLink="/report">Report Encounter</button>
    </footer>
  </div>
</div>
